<a href="https://colab.research.google.com/github/anjanapadman/teachable-colab/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
t

to find factorial of a number

In [ ]:
f=1
x=int(input("enter a number"))
for i in  range(1,x+1):
  f=f*i
print(f)

enter a number5
120

to print a particular pattern

In [ ]:
x=int(input("enter a number"))
for i in range(1,x+1):
  for j in range(1,i+1):
    print(j,end="")
  print("\r")

enter a number5
1
12
123
1234
12345

print first 10 natural number with while ;loop

In [ ]:
i=1
while i<11:
  print(i)
  i=i+1

1
2
3
4
5
6
7
8
9
10

In [ ]:
x=int(input("enter a number"))
for i in range(1,x+1):
  for j in range(1,i+1):
    print("*",end="")
  print("\r")

enter a number4
*
**
***
****

In [ ]:
x=int(input("enter number of rows"))
for i in range(1,x+1):
  for j in range(1,x+1):
    if (j<=x-i):
      print(' ',end='')
    else:
      print("*",end='')
  print("\r")

enter number of rows4
   *
  **
 ***
****



```
## This is formatted as code
```

# functions

In [ ]:

def reverse(num):
  s=0
  while num!=0:
    r=num%10
    s=s*10+r
    num=num//10
  return(s)

n=int(input("enter the number"))
ans=reverse(n)
print(ans)

enter the number679055
550976

factorial

In [ ]:
def fact(n):
  if n==1:
    fact=1